ci:
  autoupdate_schedule: "quarterly"

default_language_version:
  python: "python3.13"

repos:
  - repo: "meta"
    hooks:
      - id: "check-hooks-apply"
      - id: "check-useless-excludes"

  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v6.0.0"
    hooks:
      - id: "check-yaml"
      - id: "check-added-large-files"
      - id: "end-of-file-fixer"
      - id: "mixed-line-ending"
        args:
          - "--fix=lf"
      - id: "trailing-whitespace"

  - repo: "https://github.com/sirosen/slyp"
    rev: "0.8.2"
    hooks:
      - id: "slyp"

  - repo: "https://github.com/psf/black-pre-commit-mirror"
    rev: "25.12.0"
    hooks:
      - id: "black"

  - repo: "https://github.com/pycqa/isort"
    rev: "7.0.0"
    hooks:
      - id: "isort"

  - repo: "https://github.com/pycqa/flake8"
    rev: "7.3.0"
    hooks:
      - id: "flake8"
        additional_dependencies:
          - "flake8-toml-config==1.0.0"
          - "flake8-bugbear==25.11.29"

  - repo: "https://github.com/editorconfig-checker/editorconfig-checker"
    rev: "v3.6.0"
    hooks:
      - id: "editorconfig-checker"

  - repo: "https://github.com/shellcheck-py/shellcheck-py"
    rev: "v0.11.0.1"
    hooks:
      - id: "shellcheck"
        args:
          - "--shell=bash"

  - repo: "local"
    hooks:
      - id: "sync-readme-example"
        name: "Synchronize a functional example into the README"
        language: "python"
        entry: "python src/detect_pythons/sync_readme_example.py"
        always_run: true
        pass_filenames: false

  - repo: "https://github.com/python-jsonschema/check-jsonschema"
    rev: "0.36.0"
    hooks:
      - id: "check-github-workflows"
      - id: "check-dependabot"

  - repo: "https://github.com/rhysd/actionlint"
    rev: "v1.7.10"
    hooks:
      - id: "actionlint"
        additional_dependencies:
          - "github.com/wasilibs/go-shellcheck/cmd/shellcheck@v0.11.1"
